@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.slider {
    background-color: #f2f2f2;
    padding: 40px 0;
}
.slider_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}
.slider_body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s ease;
}
.slider_body--show {
    opacity: 1;
    pointer-events: unset;
}
.slider_img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.slider_texts {
    max-width: 600px;
}
.subtitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.slider_review {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}
.slider_arrow {
    cursor: pointer;
    width: 90%;
}
.slider_arrow:nth-of-type(2){
    justify-self: end;
}